h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Cabin', sans-serif; }

p, a {
  margin: 0;
  font-family: 'Cabin', sans-serif; }

li a {
  text-transform: capitalize; }

h1 {
  font-size: 2rem;
  font-family: 'Lobster', cursive; }

h2 {
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 3px; }

body {
  margin: 0; }

.wrapper {
  min-height: 100vh;
  width: calc(100%-40px);
  padding: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: repeat(3, auto); }

.sidebar {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  background-color: #0d0f68;
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .sidebar i {
    color: white;
    transform: scale(1.5);
    transform-origin: right;
    position: absolute;
    top: 25px;
    right: 20px; }
  .sidebar .compass {
    position: relative;
    height: 35vh;
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 7px solid;
    border-radius: 50%; }
    .sidebar .compass .arm {
      position: absolute;
      height: 13vw;
      width: 40vw;
      background: linear-gradient(to top, #ffbb00 0%, #ffbb00 50%, yellow 50%, yellow 100%);
      display: flex;
      align-items: center;
      clip-path: polygon(30% 0, 100% 50%, 30% 100%, 3% 50%);
      left: 50%;
      transform-origin: left;
      transition: transform 250ms;
      cursor: pointer; }
      .sidebar .compass .arm p {
        position: relative;
        left: 15%;
        font-size: 120%;
        text-transform: capitalize;
        font-family: 'Lobster', cursive; }
    .sidebar .compass .arm:nth-child(2n) {
      background-color: lightblue;
      background: white;
      width: 30vw;
      height: 8vw;
      clip-path: polygon(45% 0, 100% 50%, 45% 100%, 3% 50%);
      transition: 250ms;
      font-size: 80%; }
    .sidebar .compass #E {
      transform: rotateZ(0deg); }
    .sidebar .compass #SE {
      transform: rotateZ(47.5deg); }
    .sidebar .compass #S {
      transform: rotateZ(90deg);
      width: 50vw; }
    .sidebar .compass #SW {
      transform: rotateZ(132.5deg); }
    .sidebar .compass #W {
      transform: rotateZ(180deg);
      background: linear-gradient(to bottom, #ffbb00 0%, #ffbb00 50%, yellow 50%, yellow 100%); }
      .sidebar .compass #W p {
        transform: rotateZ(180deg); }
    .sidebar .compass #NW {
      transform: rotateZ(227.5deg); }
    .sidebar .compass #N {
      transform: rotateZ(270deg);
      width: 50vw; }
      .sidebar .compass #N p {
        transform: rotateZ(180deg); }
    .sidebar .compass #NE {
      transform: rotateZ(312.5deg); }

.sidebar-active {
  left: 0; }

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  background-color: white;
  color: black; }
  header i {
    transform: scale(1.5);
    transform-origin: left; }

main {
  grid-area: main; }

footer {
  grid-area: footer;
  padding-top: 10px;
  background-color: white;
  color: black; }
  footer h1 {
    font-size: 1.3rem; }
  footer ul {
    column-count: 2;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style: none; }
    footer ul li a {
      line-height: 1.5rem;
      text-decoration: none;
      color: black; }

.hero img {
  display: block; }
  .hero img:last-child {
    transform: scaleY(1.02); }

.content {
  min-height: 70vh;
  padding: 10px;
  background: linear-gradient(#95d0ee 2%, #365E72 100%); }
