.colour-red {
  background-color: red; }

.colour-orange {
  background-color: orange; }

.colour-yellow {
  background-color: yellow; }

.colour-green {
  background-color: green; }

.colour-blue {
  background-color: blue; }

h1, h2, h3, h4, h5, p, a, label {
  margin: 0;
  font-family: 'Cabin', sans-serif; }

p, a, label {
  text-decoration: none;
  color: black; }

li a {
  text-transform: capitalize;
  text-decoration: underline;
  color: black; }

h1 {
  font-size: 2rem;
  font-family: 'Lobster', cursive; }

h2 {
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 3px; }

button {
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem; }

body {
  margin: 0; }

.wrapper {
  min-height: 100vh;
  width: calc(100%-40px);
  padding: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: repeat(3, auto); }

.coords {
  display: none;
  position: fixed;
  top: 50%;
  right: 10vw;
  transform: rotateZ(-90deg) translateX(50%);
  transform-origin: right;
  font-size: 40%;
  max-width: 50vw; }
  .coords h2 {
    font-size: 1.5vw;
    margin: 0 10px;
    width: calc(100% - 40px); }
    .coords h2:last-child {
      text-align: right; }

.coords::before, .coords::after {
  position: absolute;
  content: "";
  height: 0.5vw;
  width: 0.5vw;
  border-radius: 50%;
  top: 60%;
  background-color: black; }

.coords::before {
  left: -10px;
  transform: translate(-50%, -100%); }

.coords::after {
  right: -10px;
  transform: translate(50%, -100%); }

.notifications-holder {
  position: fixed;
  top: 10px;
  left: 40px;
  right: 40px; }
  .notifications-holder .notification {
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    border-radius: 40px;
    margin-bottom: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
    animation: notificationFade 3s linear; }
    .notifications-holder .notification h1 {
      font-size: 1rem;
      line-height: 1rem; }
    .notifications-holder .notification h2 {
      font-size: 0.5rem; }
    .notifications-holder .notification i {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
      top: 10px;
      bottom: 10px;
      transform: scale(1.25);
      border-radius: 50%;
      transform-origin: top right; }

.sidebar {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  background-color: #082450;
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .sidebar i {
    color: white;
    transform: scale(1.5);
    transform-origin: right;
    position: absolute;
    top: 25px;
    right: 20px; }
  .sidebar .compass {
    position: relative;
    height: 35vh;
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 7px solid;
    border-radius: 50%; }
    .sidebar .compass .arm {
      position: absolute;
      height: 13vw;
      width: 40vw;
      background: linear-gradient(to top, #FFB526 0%, #FFB526 50%, #FFD926 50%, #FFD926 100%);
      display: flex;
      align-items: center;
      clip-path: polygon(30% 0, 100% 50%, 30% 100%, 3% 50%);
      left: 50%;
      transform-origin: left;
      transition: transform 250ms;
      cursor: pointer; }
      .sidebar .compass .arm p {
        position: relative;
        left: 15%;
        text-transform: capitalize;
        font-family: 'Lobster', cursive; }
    .sidebar .compass .arm:nth-child(2n) {
      background-color: lightblue;
      background: white;
      width: 30vw;
      height: 8vw;
      clip-path: polygon(45% 0, 100% 50%, 45% 100%, 3% 50%);
      transition: 250ms;
      font-size: 80%; }
    .sidebar .compass .arm:nth-child(4n+1) {
      width: 50vw; }
    .sidebar .compass #E {
      transform: rotateZ(0deg); }
    .sidebar .compass #SE {
      transform: rotateZ(47.5deg); }
    .sidebar .compass #S {
      transform: rotateZ(90deg); }
    .sidebar .compass #SW {
      transform: rotateZ(132.5deg); }
    .sidebar .compass #W {
      transform: rotateZ(180deg);
      background: linear-gradient(to bottom, #FFB526 0%, #FFB526 50%, #FFD926 50%, #FFD926 100%); }
      .sidebar .compass #W p {
        transform: rotateZ(180deg); }
    .sidebar .compass #NW {
      transform: rotateZ(227.5deg); }
    .sidebar .compass #N {
      transform: rotateZ(270deg); }
      .sidebar .compass #N p {
        transform: rotateZ(180deg); }
    .sidebar .compass #NE {
      transform: rotateZ(312.5deg); }

.sidebar-active {
  left: 0; }

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  color: black; }
  header i {
    transform: scale(1.5);
    transform-origin: left; }

main {
  grid-area: main; }

.content {
  min-height: 70vh;
  padding: 20px 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .content > h2 {
    margin-bottom: 20px;
    width: 100%; }

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%); }
  .box:last-child {
    margin-bottom: 0; }
  .box h1 {
    font-size: 1.5rem;
    margin-bottom: 2px; }
  .box h2 {
    font-size: 0.6rem;
    position: relative; }
    .box h2::before, .box h2::after {
      display: block;
      position: absolute;
      content: '';
      height: 0.2rem;
      width: 0.2rem;
      background-color: #3b3b3b;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
    .box h2::before {
      left: -10px; }
    .box h2::after {
      right: -10px; }

.box-small {
  width: calc(50% - 5px);
  text-align: center; }
  .box-small h1 {
    font-size: 1.3rem; }
  .box-small h2 {
    font-size: 0.5rem;
    max-width: 60%; }

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 10px 0; }
  .newsletter label h2 {
    font-size: 0.8rem;
    margin-bottom: 10px; }
  .newsletter .sign-up-holder {
    display: flex;
    flex-direction: column; }
    .newsletter .sign-up-holder input {
      border: none;
      border-bottom: 2px #c4c4c4 solid;
      padding: 10px 0;
      transition: border-bottom 200ms;
      margin-bottom: 10px;
      background: none; }
      .newsletter .sign-up-holder input:focus {
        outline: none;
        border-bottom: 2px #365E72 solid; }
      .newsletter .sign-up-holder input::placeholder {
        color: #c4c4c4; }
    .newsletter .sign-up-holder button {
      padding: 0.6rem 1rem;
      background: #c4c4c4;
      outline: none; }
      .newsletter .sign-up-holder button:hover {
        background-color: #365E72;
        color: white; }

footer {
  grid-area: footer;
  margin-top: 40px;
  background-color: white;
  color: black; }
  footer h1 {
    font-size: 1.3rem; }
  footer ul {
    column-count: 2;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style: none; }
    footer ul li a {
      line-height: 1.5rem; }

@media only screen and (min-width: 700px) {
  .wrapper {
    padding: 20px 20vw; }

  .coords {
    display: flex;
    width: 80vh; }
    .coords h2 {
      font-size: 1.4vw; }

  header i {
    transform: scale(0); }

  .sidebar {
    left: 0;
    background: none;
    width: 20vw; }
    .sidebar i {
      transform: scale(0); }
    .sidebar .compass {
      border: none;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .sidebar .compass .arm {
        position: static;
        width: 85%;
        height: 7vw;
        clip-path: none;
        background: #FFD926;
        margin-bottom: 5px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        transition: background 250ms, width 250ms;
        order: 2; }
        .sidebar .compass .arm:hover {
          background: #FFB526;
          width: 105%; }
        .sidebar .compass .arm::first-child {
          order: 1; }
        .sidebar .compass .arm p {
          left: 15px;
          font-size: calc(1vw + 0.7rem); }
      .sidebar .compass .arm:nth-child(2n) {
        width: 0;
        height: 0; }
      .sidebar .compass .arm:nth-child(4n+1) {
        width: 85%; }
        .sidebar .compass .arm:nth-child(4n+1):hover {
          width: 105%; }
      .sidebar .compass #N {
        transform: none;
        order: 2; }
        .sidebar .compass #N p {
          transform: none; }
      .sidebar .compass #E p {
        order: 1; }
      .sidebar .compass #S {
        transform: none; }
        .sidebar .compass #S p {
          transform: none; }
      .sidebar .compass #W {
        background: #FFD926;
        transform: none; }
        .sidebar .compass #W:hover {
          background: #FFB526; }
        .sidebar .compass #W p {
          transform: none; } }
.hero {
  overflow: hidden;
  position: relative; }
  .hero img {
    display: block; }
    .hero img:last-child {
      transform: scaleY(1.02);
      z-index: 10; }
  .hero .bobber {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateY(-50%);
    height: 60%;
    animation: bobber 5s infinite ease-out, bobber_x 50s infinite ease-in-out; }

.start-content {
  background: linear-gradient(#95d0ee, #365E72); }

.sale-box {
  height: 120px; }

@keyframes bobber {
  0% {
    transform: rotateZ(-3deg); }
  25% {
    top: 18%; }
  50% {
    transform: rotateZ(15deg); }
  75% {
    top: 15%; }
  100% {
    transform: rotateZ(-3deg);
    top: 18%; } }
@keyframes bobber_x {
  0% {
    left: 10%; }
  50% {
    left: 70%; }
  100% {
    left: 10%; } }
.top-notification i {
  background: #FF7AA7; }

.tops-content {
  background: linear-gradient(#FFD926, #FF7AA7); }
  .tops-content button {
    background: #FFD926; }

.item-box {
  height: 50vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow: hidden; }
  .item-box h2 {
    margin-bottom: 12px; }
  .item-box h2:last-of-type {
    margin-bottom: 4px;
    font-size: 0.8rem; }
    .item-box h2:last-of-type::before, .item-box h2:last-of-type::after {
      display: none; }

.category-tops .options input:checked + label {
  border: 3px #FFD926 solid; }

.images .box:nth-child(1) {
  background-image: url(../img/coat_dark@219x284.jpg); }

.images .box:nth-child(2) {
  background-image: url(../img/coat_light@226x275.jpg); }

.images .box:nth-child(3) {
  background-image: url(../img/coat_model@376x933.jpg); }

@media only screen and (min-width: 700px) {
  .item-box {
    height: 35vw; }

  .images .box:nth-child(1) {
    background-image: url(../img/coat_dark@439x569.jpg); }

  .images .box:nth-child(2) {
    background-image: url(../img/coat_light@494x600.jpg); }

  .images .box:nth-child(3) {
    background-image: url(../img/coat_model@376x933.jpg); } }
.bottoms-content {
  background: linear-gradient(#95d0ee, #365E72); }
  .bottoms-content button {
    background: #95d0ee; }

.category-bottoms *:not(label) {
  color: white; }

.category-bottoms .options input:checked + label {
  border: 3px #95d0ee solid; }

.images {
  width: 100%;
  max-width: 100%;
  height: 375px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }
  .images .box {
    height: 100%;
    width: 52%;
    background: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .images .box-small {
    height: calc(50% - 5px);
    width: calc(48% - 10px);
    margin: 0;
    margin-right: 10px; }
    .images .box-small:first-child {
      margin-bottom: 10px; }

.item-content {
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px; }
  .item-content .category {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
    .item-content .category h2 {
      font-size: 0.8rem; }
    .item-content .category:last-of-type {
      margin-bottom: 20px; }
  .item-content > h2 {
    align-self: center;
    position: relative;
    text-align: center;
    letter-spacing: 7px;
    font-weight: 100;
    width: fit-content;
    margin-bottom: 20px;
    max-width: 80%; }
    .item-content > h2::before, .item-content > h2::after {
      display: block;
      position: absolute;
      content: '';
      height: 0.3rem;
      width: 0.3rem;
      background-color: #3b3b3b;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
    .item-content > h2::before {
      left: -20px; }
    .item-content > h2::after {
      right: -20px; }

.options {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .options input {
    display: none; }
  .options label {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 10px;
    box-sizing: border-box;
    border: 3px white solid; }

#price {
  font-size: 2rem;
  text-transform: lowercase; }

.options-size {
  justify-content: flex-end;
  width: 50%; }
  .options-size p {
    margin-left: 10px; }

.options-colour {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: 1000ms ease-in-out; }
  .options-colour div {
    width: 60%;
    max-width: 300px;
    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 3px white solid;
    border-radius: 10px; }
    .options-colour div:first-of-type {
      margin-top: 10px; }

.option-active {
  max-height: 220px; }

@keyframes notificationFade {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.cart-content {
  background: linear-gradient(#FFD926, #95d0ee);
  min-height: 0; }
  .cart-content .box {
    --height: 150px;
    max-height: 200px;
    position: relative;
    align-items: flex-start;
    height: var(--height);
    padding: 20px 40px; }
    .cart-content .box h1 {
      max-width: 65%;
      font-size: 1.3rem;
      padding-bottom: 10px; }
    .cart-content .box h2 {
      font-size: 1rem; }
      .cart-content .box h2::before, .cart-content .box h2::after {
        display: none; }
    .cart-content .box img {
      transform: scale(0);
      position: absolute;
      right: 104px;
      height: calc(100% - 20px);
      max-width: calc(var(--height) - 20px); }
    .cart-content .box i {
      position: absolute;
      right: 40px; }

@media only screen and (min-width: 750px) {
  .cart-content .box h1 {
    max-width: 45%; }
  .cart-content .box img {
    transform: scale(1); } }
