<div class="content bottoms-content item-content">
    <h2>David's computer with access to your grades</h2>
    <div class="images">
        <div class="box box-small"></div>
        <div class="box box-small"></div>
        <div class="box"></div>
    </div>
    

    <div class="category category-bottoms">
        <h2>Size</h2>
        <div class="options options-size">
            <input type="radio" name="size" id="small"><label for="small">S</label>
            <input type="radio" name="size" id="medium"><label for="medium">M</label>
            <input type="radio" name="size" id="large"><label for="large">L</label>
        </div>
    </div>
    <div class="category category-bottoms">
        <h2>Colour</h2>
        <i class="material-icons" onclick="toggleOption(2)" id="colour-toggle">keyboard_arrow_down</i>
        <div class="options options-colour">
            <div class="colour colour-red"></div>
            <div class="colour colour-orange"></div>
            <div class="colour colour-yellow"></div>
            <div class="colour colour-green"></div>
            <div class="colour colour-blue"></div>
        </div>
    </div>
    <div class="category category-bottoms">
        <h2>Price</h2>
        <h2 id="price">5339 kr</h2>
    </div>
    <button onclick="notificationSquad(top)">Add to cart</button>
</div>