<div class="hero">
    <img src="img/water.svg" alt="Sunset">
</div>
<div class="content bottoms-content">
    <h2>Bottoms</h2>
    <a href="#" class="box box-small item-box"><h2>Item</h2><h2>39</h2></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
</div>