<div class="hero">
    <img src="img/water.svg" alt="Water">
</div>
<div class="content bottoms-content">
    <h2>Bottoms</h2>
    <a href="bottoms-item1.html" class="box box-small item-box"><h2>David's computer with access to your grades</h2><h2>5339 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Ola-Konny underwear</h2><h2>10 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Emma's stolen shoes</h2><h2>420 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Popcorn socks</h2><h2>9990 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Adodis Noke Shokes</h2><h2>42 133 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Gucci belt</h2><h2>39 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Earrings for your kneecaps</h2><h2>43 kr</h2></a>
    <a href="#" class="box box-small item-box"><h2>Aglets</h2><h2>123 kr</h2></a>
</div>