<div class="content cart-content">
    <div class="box">
        <h1>Gucci coat number 3 of 10</h1>
        <h2>3299 kr</h2>
        <img src="https://source.unsplash.com/300x300" alt="#">
        <i class="material-icons">close</i>
    </div>
    
    <div class="box">
        <h1>David's computer with access to your grades</h1>
        <h2>5339 kr</h2>
        <img src="https://source.unsplash.com/301x300" alt="#">
        <i class="material-icons">close</i>
    </div>
    
</div>