<div class="hero">
    <img src="img/sunset.svg" alt="Sunset">
    <img src="img/water.svg" alt="Sea">
</div>
<div class="content">
    <h2>Ongoing sales</h2>
    <a href="#" class="sale-box">
        <h1> Summer collection</h1>
        <h2>sale ends tomorrow</h2>
    </a>
    <a href="#" class="sale-box">
        <h1>Women's shirts</h1>
        <h2>sale ends in 4 days</h2>
    </a>
    <a href="#" class="sale-box sale-box-small">
        <h1>Shoes</h1>
        <h2>sale ends in 11 days</h2>
    </a>
    <a href="#" class="sale-box sale-box-small">
        <h1>Men's</h1>
        <h2>sale ends in 11 days</h2>
    </a>
    <a href="#" class="sale-box">
        <h1>50% off selected items</h1>
        <h2>sale ends in 28 days</h2>
    </a>
</div>

<form class="newsletter" action="newsletter-submit.html">
    <label for="newsletter"><h2> Sign up to our newsletter here</h2></label>
    <div class="sign-up-holder">
        <input type="email" id="newsletter" placeholder="name@email.com" spellcheck="false">
        <button class="sign-up" type="submit">Sign up</button>
    </div>
</form>