<div class="hero">
    <img src="img/sunset.svg" alt="Sunset">
    <img src="img/water.svg" alt="Sea">
</div>
<div class="content">
    <h2>Ongoing sales</h2>
    <a href="#" class="sale-box"><h1> Summer collection</h1></a>
    <a href="#" class="sale-box"><h1>Women's shirts</h1></a>
    <a href="#" class="sale-box sale-box-small"><h1>Shoes</h1></a>
    <a href="#" class="sale-box sale-box-small"><h1>50% off </h1></a>
    <a href="#" class="sale-box"><h1>Men's pants </h1></a>
</div>