<div class="hero">
    <img src="img/sunset.svg" alt="Sunset">
</div>
<div class="content tops-content">
    <h2>Tops</h2>
    <a href="#" class="box box-small item-box"><h1>Item</h1></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    <a href="#" class="box box-small item-box"></a>
    
</div>