<div class="content tops-content item-content">
    <div class="images">
        <div class="box box-small"></div>
        <div class="box box-small"></div>
        <div class="box"></div>
    </div>

    <div class="category category-tops">
        <h2>Size</h2>
        <div class="options options-size">
            <p class="size">S</p>
            <p class="size">M</p>
            <p class="size">L</p>
        </div>
    </div>
    <div class="category category-tops">
        <h2>Colour</h2>
        <i class="material-icons" onclick="toggleOption(2)" id="colour-toggle">keyboard_arrow_down</i>
        <div class="options options-colour">
            <div class="colour colour-red"></div>
            <div class="colour colour-orange"></div>
            <div class="colour colour-yellow"></div>
            <div class="colour colour-green"></div>
            <div class="colour colour-blue"></div>
        </div>
    </div>
    <div class="category category-tops">
        <h2>Price</h2>
        <h2 id="price">349 kr</h2>
    </div>
    <button onclick="notificationSquad(top)">Add to cart</button>
</div>