<div class="content tops-content item-content">
    <div class="images">
        <div class="box box-small"></div>
        <div class="box box-small"></div>
        <div class="box"></div>
    </div>

    <div class="category">
        <h2>Size</h2>
        <div class="options">
            <div class="size"><p>S</p></div>
            <div class="size"><p>M</p></div>
            <div class="size"><p>L</p></div>
        </div>
    </div>
    <div class="category">
        <h2>Colour</h2>
    </div>
    <div class="category">
        <h2>Price</h2>
    </div>
    <button onclick="notificationSquad(top)">Add to cart</button>
</div>