.hero{
    img{
        display: block;
        &:last-child{
            transform: scaleY(1.02)
        }
    }
}

.content{
    min-height: 70vh;
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background: linear-gradient($light-blue 2%, $dark-blue 100%);

    & > h2{
        margin-bottom: 10px;
        letter-spacing: 7px;
    }

    .sale-box{
        width: 100%;
        height: 120px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-bottom: 10px;
        background: linear-gradient(135deg, rgba(white, 0.3) 0%, rgba(white, 0.6) 100%);

        &:last-child{
            margin-bottom: 0;
        }

        h1{
            font-size: 1.5rem;
            margin-bottom: 2px;
        }
        h2{
            font-size: 0.6rem;
        }
    }
    .sale-box-small{
        width: calc(50% - 5px);
        text-align: center;

        h1{
            font-size: 1.3rem;
        }
        h2{
            font-size: 0.5rem;
            max-width: 60%;
        }
    }
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 10px 0;

    label h2{
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .sign-up-holder{
        display: flex;
        flex-direction: column;

        input{
            border: none;
            border-bottom: 2px $light-text solid;
            padding: 10px 0;
            transition: border-bottom 200ms;
            margin-bottom: 10px;
            background: none;

            &:focus{
                outline: none;
                border-bottom: 2px $dark-blue solid;
            }
            &::placeholder{
                color: $light-text;
            }
        }

        button{
            padding: 0.6rem 1rem;
            background: $light-text;
            outline: none;

            &:hover{
                background-color: $dark-blue;
                color: white;
            }
        }
    }
}