.hero{
    img{
        display: block;
        &:last-child{
            transform: scaleY(1.02)
        }
    }
}
.start-content{
    background: linear-gradient($light-blue, $dark-blue);
}

.sale-box{
    height: 120px;
}

