.top-notification{

    i{
        background: $pink;
    }
}

.tops-content{
    background: linear-gradient($yellow, $pink);

    button{
        background: $yellow;
    }
}

.item-box{
    height: 50vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow: hidden;

    h2{
        margin-bottom: 12px;
    }

    h2:last-of-type{
        margin-bottom: 4px;
        font-size: 0.8rem;
        
        &::before, &::after{
            display: none;
        }
    }
}


// item-page
.category-tops .options input:checked + label{
    border: 3px $yellow solid;
}


.images .box:nth-child(1){
    background-image: url(../img/coat_dark@219x284.jpg);
}
.images .box:nth-child(2){
    background-image: url(../img/coat_light@226x275.jpg);
}
.images .box:nth-child(3){
    background-image: url(../img/coat_model@376x933.jpg);
}

@media only screen and (min-width: 700px){
    .item-box{
        height: 35vw;
    }

    .images .box:nth-child(1){
        background-image: url(../img/coat_dark@439x569.jpg);
    }
    .images .box:nth-child(2){
        background-image: url(../img/coat_light@494x600.jpg);
    }
    .images .box:nth-child(3){
        background-image: url(../img/coat_model@376x933.jpg);
    }
}