.top-notification{

    i{
        background: $pink;
    }
}

.tops-content{
    background: linear-gradient($yellow, $pink);

    button{
        background: $yellow;
    }
}

.item-box{
    height: 50vw;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;



    h2{
        margin-bottom: 10px;
    }
}

.options-size{
    justify-content: flex-end;
    width: 70%;

    p{
        margin-left: $distance-mobile-s;
        // height: 40px;
        // width: 40px;
    }
}

.options-colour{
    display: block;

    max-height: 0;

    overflow: hidden;
    transition: 1000ms ease-in-out;

    div{
        width: 60%;
        max-width: 300px;
        height: 30px;
        margin-bottom: $distance-mobile-s;

        box-sizing: border-box;
        border: 3px white solid;
        border-radius: 10px;


        &:first-of-type{
            margin-top: $distance-mobile-s;
        }

        
    }
    
}
.option-active{
    max-height: 220px;
}

.category-tops .options *:hover{
    border: 3px $yellow solid;
}