.top-notification{

    i{
        background: $pink;
    }
}

.tops-content{
    background: linear-gradient($yellow, $pink);

    button{
        background: $yellow;
    }
}

.item-box{
    height: 50vw;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;



    h2{
        margin-bottom: 10px;
    }
}
