$transparent-black: rgba(0,0,0,0.7);
$light-text: #c4c4c4;
$dark-blue: #365E72;
$light-blue: #95d0ee;
$yellow: #FFD926;
$orange: #FFB526;
$pink: #FF7AA7;

$distance-mobile-xs: 6px;
$distance-mobile-s: 10px;
$distance-mobile-m: 20px;
$distance-mobile-l: 40px;

$box-shadow: 0 3px 9px rgba(0,0,0,0.3); 

.colour-red{
    background-color: red;
}
.colour-orange{
    background-color: orange;
}
.colour-yellow{
    background-color: yellow;
}
.colour-green{
    background-color: green;
}
.colour-blue{
    background-color: blue;
}